In [1]:
print("hello")

hello

In [2]:
name="sunny"

In [3]:
print("hello",name)

hello sunny

# format specifier

In [24]:
name

'sunny'

In [26]:
last_name="savita"

In [28]:
print("hello %s  how are you %s" %(name,last_name))

hello sunny  how are you savita

In [8]:
a=10

In [11]:
print("value of a is %d" %a)

value of a is 10

In [12]:
a=10
name="sunny"
b=20.9

# Simple pythonic way

In [13]:
print("value of a is",a,"name is",name,"value of b is",b)

value of a is 10 name is sunny value of b is 20.9

# with format specifier

In [29]:
#number of format specifier and variable must be a same
print("value of a is %d vlaue of b is %s value of name is %f"%(a,name,b))

value of a is 10 vlaue of b is sunny value of name is 20.900000

# with format function

In [17]:
var=10
name="sunny"

In [30]:
a=100

In [32]:
print(a)

100

In [35]:
print("value of a is",a)

value of a is 100

In [34]:
print("the value of a is %d"%a)

the value of a is 100

In [36]:
print("value of is {}".format(a))

value of is 100

In [37]:
b=200

In [38]:
print("value of a is {} value of b is {}".format(a,b))

value of a is 100 value of b is 200

In [39]:
name="rajat"
age=27

In [40]:
print("name is {} age is {}".format(name,age))

name is rajat age is 27

In [41]:
print("name is {} age is {}".format(age,name))

name is 27 age is rajat

In [42]:
print("name is {name} age is {age}".format(age,name))

KeyError: 'name'

In [44]:
print("name is {1} age is {0}".format(age,name))

name is rajat age is 27

In [46]:
print("name is {n} age is {a}".format(a=age,n=name))

name is rajat age is 27

In [49]:
print("name is {n} age is {a}".format(a=age,n=name))

name is rajat age is 27

In [48]:
print("name is {} age is {}".format(name,age))

name is rajat age is 27

In [50]:
x=50

In [54]:
if x>50:
    prnt("we are in first if")
if x==50:
    print("we are in second if")
if x<50:
    print("we are in third if")

we are in second if

In [57]:
if x>50:
    print("we are in")
    
if x<50:
    print("we are in second if")
else:
    print("we are out")

we are out

In [59]:
a=50

In [64]:
if a==50:
    print("we are in first if")
elif a==50:
    print("we are in second if")
elif a==50:
    print("we are in third if")
else:
    print("we are out")

we are in first if

In [63]:
if x==50:
    print("we are in first if")
if x==50:
    print("we are in second if")
if x==50:
    print("we are in third if")

we are in first if
we are in second if
we are in third if

# sujit
# second one is complete block of execution

# Accept an integer from the user and check whether it is an even or odd

In [66]:
s= int(input('enter number'))
if s%2 == 0:
    print('even')
         
else:
    print('odd')

enter number 20

even

In [68]:
a= int(input("please enter any number"))
if a%2==0:
    print("number is even")
else:
    print("number is not even")

please enter any number 343253

number is not even

In [70]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number:  364575678

364575678 is Even

In [72]:
a=int(input("Enter the Number"))
b=a%2
if(b==0):
    print("Number is even")
else:
    print("Number is odd")

Enter the Number 2356890

Number is even

# WAP to accept a character from the user and check whether it is a capital letter or small letter. Assume user will input only alphabets

In [87]:
ch=input("please enter the character")
if "A"<=ch[0]<="Z":
    print("this character will be a capital one")
else:
    print("this character will be a small one")

please enter the character n

this character will be a small one

In [90]:
#manish#wrong
a= input("please enter a char")
if a.lower()== True:
    print("char is lower")
elif a.upper()== True:
    print("char is upper")
else:
    print("out")

please enter a char a

out

In [94]:
#satish
char = input("enter char :")

ascivalue = ord(char)

if (ascivalue >= 97 and ascivalue <= 122) :
    print ("small latter ")
else:
    print("Capital Letter ")

enter char : t

small latter

In [98]:
#ajay
charVal = input("Enter Character: ")
if charVal == charVal.lower():
    print("{} is Small".format(charVal))
else:
     print("{} is Capital".format(charVal))

Enter Character:  k

k is Small

In [100]:
#siddhart
a=input("Enter the character ")
if a.isupper()==True :
    print ("{} is a capital letter ".format(a))
else :
    print ("{} is a lower letter ".format(a))

Enter the character  z

z is a lower letter

In [105]:
#raj #wrong
import string
a=input("Enter char: ")
if a in string.ascii_uppercase:
    print(a," is Uppercase")
else:
    print(a," is lowercase")

Enter char:  AJAY

AJAY  is lowercase

In [107]:
a=50

In [110]:
if a>50:
    print("correct")
    print("fine")
print("alright")

alright

# nested if : if inside if(we can write as many as if )

In [117]:
a=100
b=200
c=0

In [120]:
if a<110:
    print("we are in first if statement")
    if b<199:
        print("we are in second if statement")
    else:
        print("we are out from second if")
        if c>0:
            print("we are in third if")
        elif c==0:
            print("we are in elif of third if")
        else:
            print("we are out from third if")

we are in first if statement
we are out from second if
we are in elif of third if

In [ ]:
if:
elif:
elif:
else:

# WAP to accept 3 integers from the user and without using any logical operator and cascading of relational operators , find out the greatest number amongst them

In [ ]:
X=100
y=500
z=200

In [123]:
X=int(input("enter first no"))
y=int(input("enter second no"))
z=int(input("enter third no"))
if X>y:
    if X>z:
        print("first will be greatest")
elif y>X:
    if y>z:
        print("second is a greatest")
else:
    print("third is a greaest")

enter first no 293472
enter second no 723457
enter third no 29537

second is a greatest

In [126]:
#srikant
def maximum(a, b, c):
  
    if (a >= b) and (a >= c):
        largest = a
  
    elif (b >= a) and (b >= c):
        largest = b
    else:
        largest = c
          
    return largest

In [129]:
maximum(1042534638,2002657439,523954743)

2002657439

In [132]:
#prajesh
n=int(input("please enter three number"))
x=list(map(int,input().split()))
print(max(x))

please enter three number 3
 10 20 30

30

In [138]:
x=input("enter three number with space")
a,b,c=x.split()

enter three number with space 10 20 30

ValueError: invalid literal for int() with base 10: '10 20 30'

In [135]:
a

'10'

In [136]:
b

'20'

In [137]:
c

'30'

# while loop

In [150]:
x=10
i=1
while i<=x:
    print("sunny")
    print(i)
    i=i+1#increment condition
  
print("loops end")

sunny
1
sunny
2
sunny
3
sunny
4
sunny
5
sunny
6
sunny
7
sunny
8
sunny
9
sunny
10
loops end

# print 50 natural numbers with while loop

# 1 to 50

# Write a program to accept # a string from the user and display it vertically but don’t display the vowels in it.

# do it with while loop

In [152]:
#prem
text = input('Enter text:')
for char in text:
    if char.lower() in 'aeiou':
        print(char)

Enter text: sunny savita

u
a
i
a

In [153]:
#dawood
str = input("Write something:")

i = 0
while i<len(str):
    if str[i] not in 'aeiou':
        print(str[i])
    i=i+1

Write something: sunny savita

s
n
n
y

s
v
t

In [154]:
#prejesh(this is upcoming concept)
x=['a','e','i','o','u']
q=[]
z=str(input())
for i in z:
    if i not in x:
        q.append(i)
for j in q:
    print(j)

 sunny savita

TypeError: 'str' object is not callable

In [156]:
#shirishia
n=input("enter a string:")
a=0
while(a<len(n)):
    if n[a]!='a' and n[a]!='e' and n[a]!='i' and n[a]!='0' and n[a]!='u':
        print(n[a])
    a+=1

enter a string: satya thakur

s
t
y

t
h
k
r

In [161]:
while a in "sunnysavita":
    print(a)

In [ ]:
#devendra
a=(input("enter the string"))
i=0
while a[i] in a:
    if a[i] in ["a","e","i","o","u"]:
        pass
    else:
        print(a[i])
    i=i+1

In [158]:
#srikant
s=input()
l=["a","e","i","o",”u”,”A”,”E”,”I”,”O”,”U”]
l1=[]
for i in s:
if(i not in l):
l1.append(i)
print(*l1)

SyntaxError: invalid character '“' (U+201C) (1924820221.py, line 3)